<% if comment.persisted? %>
<div id="<%= dom_id comment %>" class="comment-container">

  <div class="comment-title">
        <%=  comment.title %>
  </div>

  <%= link_to 'Delete', [comment.post, comment], class: 'comment-delete', data: { "turbo-method": :delete } %>

  <div class="comment-time">
    <%= comment.updated_on.strftime("%Y-%m-%d %H:%M:%S") %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
  </div>

</div>
<%  end %>
