<%= form_with(model: comment, class:'comment-form-container') do |form| %>

  <div class="comment-input">
    <%= form.text_field :title%>
  </div>

  <div class="comment-input">
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.hidden_field :post_id %>
  </div>

  <div>
    <%= form.submit :class => "comment-button"%>
  </div>
<% end %>
